<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.qf.service"></context:component-scan>

    <!--1,spring控制事务
                1）事务的管理器
                2）事务的详情
                3) 事务的aop配置
        -->

    <!--1，事务的管理器PlatformTransactionManager
                DataSourceTransactionManager:ssm整合，使用JdbcTemplate
                HibernateTransactionMananager：ssh
        -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--public void setDataSource(DataSource dataSource) {-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--2, 事务的详情
              那些方法会走事务，事务的隔离级别，事物的传播行为，是否是只读，超时时间
              <bean id="myAdvice" class="xxx.MyAdvice">
              ===>NoSuchBeanDefinitionException: No bean named 'transactionManager' available
              缺：transaction-manager="txManager"
        -->

    <tx:advice id="myAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="insert*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="query*" isolation="DEFAULT" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--3.aop配置
               创建代理对象
        -->
    <aop:config>
        <aop:pointcut id="myPointcut" expression="execution(* com.qf.service.impl.*.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="myPointcut"></aop:advisor>
    </aop:config>


</beans>